{% extends "base.html" %}

{% block content %}
<div class="dashboard-container">
    <h3>Admin Dashboard</h3>
    <div class="button-group">
        <a href="{{ url_for('members') }}" class="btn">Members</a>
        <a href="{{ url_for('rentals') }}" class="btn">Rentals</a>
        <a href="{{ url_for('toys_admin') }}" class="btn">All Toys</a>
        <a href="{{ url_for('member_search') }}" class="btn">Member Search</a>
        <a href="{{ url_for('on_rent') }}" class="btn">On Rent</a>
        <a href="{{ url_for('oneyear_members') }}" class="btn">One Year Members</a>
        <a href="{{ url_for('sixmonth_members') }}" class="btn">Six Month Members</a>
        <a href="{{ url_for('new_item') }}" class="btn">New Item</a>
        <a href="{{ url_for('new_member') }}" class="btn">New Member</a>
        <a href="{{ url_for('new_rental') }}" class="btn">New Rental</a>
        <a href="{{ url_for('search_rental') }}" class="btn">Edit Rental</a>
        <a href="{{ url_for('delete_item') }}" class="btn">Delete Item</a>
        <a href="{{ url_for('search_member') }}" class="btn">Edit Member</a>
    </div>
</div>

{% endblock %}