{% extends "base.html" %}
</nav>
</div>
<div class="table_styling">


  {% block content %}
  <div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
    <a href="{{ url_for('admin_dashboard') }}" class="btn">Back</a>
    <h1 style="margin-left: 10px;">New Item</h1>
  </div>
  <h3>Please enter your item's details:</h3>
    <form method="post" class="w3-container">
      <br>
      <label for="item">Item</label><input type="text" id="item" name="item" value="{{ request.form['item'] }}">
      <br>
      <label for="type">Type of Item</label><input type="text" id="type" name="type" value="{{ request.form['type'] }}">
      <br>
      <label for="purchasePrice">Purchase Price:</label><input type="text" id="purchasePrice" name="purchasePrice" value="{{ request.form['purchasePrice'] }}">
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}