{% extends "base.html" %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
    <a href="{{ url_for('admin_dashboard') }}" class="btn">Back</a>
    <h1 style="margin-left: 10px;">Search Member</h1>
</div>
<div class="table_styling">
    <h3>Search for Member to Edit Amount Owed</h3>
    <form method="post" class="w3-container">
        <label for="member_id">Member ID:</label>
        <input type="text" id="member_id" name="member_id" required>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}